/* Número: 54960, Nome: Rafael Ribeiro, PL: 21 */
/* Número: 55373, Nome: José Almeida, PL: 21 */
/* Número: 54941, Nome: Miguel Duarte, PL: 21 */

@font-face {
    font-family: 'kongtextregular';
    src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
         url('../fonts/kongtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* MISC */

body {
    background-color: #9900CC ;
    font-family: 'kongtextregular'; 
    text-align: center;
    
   
}

img {
    -webkit-user-drag: none;

}

h2{
    color: rgb(255, 208, 0);
}

::selection {
    background-color: #9900CC;
}

.topDiv{
    padding: 2ex;    
    text-align: center;
    display: block;
    margin: 0 auto;
   
    
}
.gameTitle{
    color: rgb(255, 208, 0);
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    display: inline-block;        
    padding: 1ex;
    border-style: solid ;
    
}

.gameTitle a {
    text-decoration: none;
    color: rgb(255, 208, 0);
    transition: 600ms ease;
}

.gameTitle a:hover {
    transition: 600ms ease;
    animation: color-change 5s infinite;
}

@keyframes color-change {
    10% {color: #1abc9c;}    
    20% {color: #d35400;}     
    30% {color: #ff0dc2;} 
    40% {color: #2980b9;}
    60% {color: #f1c40f;}
    70% {color: #2980b9;}
    80% {color: #29b9ad;}
    90% {color: #df75fa;}
    100% {color: pink;}
}

@-webkit-keyframes color-change {
    10% {color: #1abc9c;}    
    20% {color: #d35400;}     
    30% {color: #ff0dc2;} 
    40% {color: #2980b9;}
    60% {color: #f1c40f;}
    70% {color: #2980b9;}
    80% {color: #29b9ad;}
    90% {color: #df75fa;}
    100% {color: pink;}
}

/* BACKGROUND KEYFRAMES */

@keyframes background-color-change {
    10% {background-color: #1abc9c;}    
    20% {background-color: #d35400;}     
    30% {background-color: #ff0dc2;} 
    40% {background-color: #2980b9;}
    60% {background-color: #f1c40f;}
    70% {background-color: #2980b9;}
    80% {background-color: #29b9ad;}
    90% {background-color: #df75fa;}
    100% {background-color: pink;}
}

@-webkit-keyframes background-color-change {
    10% {background-color: #1abc9c;}    
    20% {background-color: #d35400;}     
    30% {background-color: #ff0dc2;} 
    40% {background-color: #2980b9;}
    60% {background-color: #f1c40f;}
    70% {background-color: #2980b9;}
    80% {background-color: #29b9ad;}
    90% {background-color: #df75fa;}
    100% {background-color: pink;}
}


/* BOTÕES INICIAIS */

.singlePlayer, .multiPlayer{

    width: 20%;
    height: 40%;
    text-align: center;
    padding: 2ex;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5ex;
    text-align: center;
    transition: all 200ms linear;
}
.singlePlayerButton, .multiPlayerButton{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding: 2%;
}


.singlePlayerButton:hover, .multiPlayerButton:hover {
    transition: 600ms ease;
    animation: color-change 5s infinite;
}


/* CONTAINER DE ELEMENTOS DO JOGO */

.gameContent{
    
    width: 100%;
    display: none;
}

/* DEFINIÇÃO DA TABLE */

.cardTable{
    border-style: solid;
    border-color: rgb(202, 198, 193);
    background-color: #d2b48c;
    text-align: center;
    padding: 1ex;
    width: 60%;   
    position: relative; 
    
    margin-top: 5ex;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.cardTable th {
    height: 150px;
}

table{
    width: 100%;
    padding: 1ex;
    padding-bottom: 5ex;
    
}

/* DEFINIÇÃO DAS CARTAS */

.cardContainer{
    position: relative;
    width: 70px;
    height: 100px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;

}

.card{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    transform: rotateY(180deg);
    cursor: pointer;
}

.cardFront{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-color: rgb(255, 208, 0);
    border-radius: 12px;
    backface-visibility: visible;
    overflow: hidden;
    color: #000;
}

.cardFront img {
    width: 70%;
    position: relative;
    top: 2ex;
    margin: auto;
}

.cardBack{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 94%;
    border-radius: 12px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
}

/* PNG DImensions: 180x303 */
.cardBack img {
    width: 100%;
    position: relative;
}



/* DEFINIÇÃO DA SIDEBAR */

.sideBar {
    position: absolute;
    display: inline-block;
    border: solid;
    margin: 20ex 3ex auto 3ex;
    height: 30%;
    padding: 3ex;
}

.durationCounter{

    display: block;
    width: 15%;
    position: relative;

}
.matchesFound{
    position: relative;
    display: block;
    width: 15%;
    
}
.zemiraPoints{
    position: relative;
    display: block;
    width: 15%   
}

/* DEFINIÇÃO DO START BUTTON (E ESTÉTICA RELACIONADA)*/

.startButton {
    display: none;
    margin: auto auto;
    cursor: pointer;
    font-size: 40px;
    position: relative;
    margin: 15% auto auto auto;
    transition: all 200ms linear;
}

.startButton:hover {
    transition: 600ms ease;
    animation: color-change 5s infinite;
}

/* DEFINIÇÃO DO START BUTTON */

.restart {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    margin: 5% auto auto 8%;
}

/* Dimmer ativado quando se interage com os menus */
#dimmer {
    position: fixed;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.589);
    pointer-events: none;
    transition: all 200ms linear;
    z-index: 8;
    opacity: 0;
}



.multiPlayerMainMenu{
    
    text-align: center;
    display: none;
    position: fixed;
    
}

.matrixSingleStyle{
    
    transition: 600ms ease;
    animation: color-change 5s infinite;

}

.numberOfPlayerSelect{
    border: 5px solid black;
    text-align: center;
    width: 30%;
    margin: 0 auto;
}


.multiPlayerFieldset{
    vertical-align: middle;
    border: none;
}

.formMultiPlayer:hover{
    transition: 600ms ease;
    animation: color-change 5s infinite;
}

.multiPlayerForm{
    font-family: 'kongtextregular';
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 70%;
    margin-bottom: 10px;
    opacity: 0.8;
    transition: 600ms ease;
}