/* Número: 54960, Nome: Rafael Ribeiro, PL: 21 */
/* Número: 55373, Nome: José Almeida, PL: 21 */
/* Número: 54941, Nome: Miguel Duarte, PL: 21 */

@font-face {
    font-family: 'kongtextregular';
    src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
         url('../fonts/kongtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #9900CC ;
    font-family: 'kongtextregular'; 
    text-align: center;
    
   
}
.singlePlayer{

    width: 50%;
    text-align: center;
    padding: 2ex;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5ex;
}
.singlePlayerButton{
    font-size: 200%;
    border-style: solid ;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

h2{
    color: rgb(255, 208, 0);
}

.multiPlayer{

    width: 50%;
    text-align: center;
    padding: 2ex;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5ex;
}
.multiPlayerButton{
    font-size: 200%;
    border-style: solid ;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}







.topDiv{
    padding: 2ex;    
    text-align: center;
    display: block;
    margin: 0 auto;
   
    
}
.gameTitle{
    color: rgb(255, 208, 0);
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    display: inline-block;        
    padding: 1ex;
    border-style: solid ;
    
}
.loginBox{
    display: inline-block;
    border-style: dashed; 
    cursor: pointer;
    position: absolute;
    right: 3ex;
    top: 4ex;


}
.registerBox{
    display: inline-block;
    text-align: left;    
    position: absolute;
    border-style: dashed;
    cursor: pointer;
    right: 13ex;
    top: 4ex;


}

.gameContent{
    
    width: 100%;
    display: none;
}


.cardTable{
    border-style: solid;
    border-color: burlywood;
    background-color: #d2b48c ;
    text-align: center;
    padding: 1ex;
    width: 60%;   
    position: relative; 
    
    margin-top: 5ex;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.cardTable th {
    cursor: pointer;
    height: 150px;
}

table{
    width: 100%;
    
}

.timeCounterBox{

    display: inline-block;
    width: 15%;
    padding: 1ex;
    text-align: center;
    margin-bottom: 4ex;
    margin-right: auto;
    border-style: solid;
    position: relative;

}
.matchesFound{
    position: relative;
    display: inline-block;
    width: 15%;
    padding: 1ex;
    text-align: center;
    margin-left: auto;
    margin-right: 0px;
    border-style: solid;
}

/* DEFINÇÃO DAS CARTAS */

.cardContainer{
    position: relative;
    width: 70px;
    height: 100px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.card{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    transform: rotateY(180deg);
}

.cardFront{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #ffc728;
    color: #000;
}

.cardBack{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
}

