@font-face {
    font-family: 'kongtextregular';
    src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
         url('../fonts/kongtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#MainTitle {
    display: block;
    margin-left: 2.5%;
    color: rgb(218,165,32);
    font-size: 20px;

}

.iconsImg {
    top: 20px;
    width: 170px;
    height: 170px;
    margin: 0 auto;
    border-radius: 35px;
}

.buyButton {
    cursor: pointer;
    display: block;
    left: 100px;
    margin-left: 20px;
    width: 140px;
    height: 40px;
    background-color: rgb(218,165,32);
    font-family: 'kongtextregular';
    font-size: 15px;
    
}

.packsToBuy {
    display: inline-block;
    margin-left: 25px;
}

.iconsPackName {
    text-align: center;
}

.iconsPacksLine {
    margin-left: 10%;
}







/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
.slideShowHolder{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.closeButtonSlideShow{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    cursor: pointer;
}

.slideShowContainer{
    margin: 0 auto;
    margin-top: 20px;
    position: relative;    
    width: 40%;    
    padding-bottom: 40%;
    background: #4c4c4c;
    border: solid 10px rgb(218,165,32);;
}


.pack{
    position: absolute;
    width: 100%;
    height: 100%;

}
.pack, .imgRedundant{
    width: 100%;
    height: 100%;
}

#i1, #i2, #i3{
    display: none;
}

.pre, .next{
    width: 12%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(88, 88, 88, .4);
    z-index: 99;
    cursor: pointer;

}

.pre{
    left: 0;
}
.next{
    right: 0;
}




.pack{
    z-index: -1;
}


#i1:checked ~ #first,
#i2:checked ~ #second,
#i3:checked ~ #third{
    z-index: 9;
}


