@font-face {
    font-family: 'kongtextregular';
    src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
         url('../fonts/kongtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ZPOINTS COLOR CHANGE */
@keyframes color-change {
    10% {color: #1abc9c;}    
    20% {color: #d35400;}     
    30% {color: #ff0dc2;} 
    40% {color: #2980b9;}
    60% {color: #f1c40f;}
    70% {color: #2980b9;}
    80% {color: #29b9ad;}
    90% {color: #df75fa;}
    100% {color: pink;}
}

@-webkit-keyframes color-change {
    10% {color: #1abc9c;}    
    20% {color: #d35400;}     
    30% {color: #ff0dc2;} 
    40% {color: #2980b9;}
    60% {color: #f1c40f;}
    70% {color: #2980b9;}
    80% {color: #29b9ad;}
    90% {color: #df75fa;}
    100% {color: pink;}
}

/* BUTTON BORDER COLOR CHANGE */
@keyframes border-color-change {
    10% {border-color: #1abc9c;}    
    20% {border-color: #d35400;}     
    30% {border-color: #ff0dc2;} 
    40% {border-color: #2980b9;}
    60% {border-color: #f1c40f;}
    70% {border-color: #2980b9;}
    80% {border-color: #29b9ad;}
    90% {border-color: #df75fa;}
    100% {border-color: pink;}
}

@-webkit-keyframes border-color-change {
    10% {border-color: #1abc9c;}    
    20% {border-color: #d35400;}     
    30% {border-color: #ff0dc2;} 
    40% {border-color: #2980b9;}
    60% {border-color: #f1c40f;}
    70% {border-color: #2980b9;}
    80% {border-color: #29b9ad;}
    90% {border-color: #df75fa;}
    100% {border-color: pink;}
}

#game {
    font-family: 'kongtextregular';
    color: rgb(255, 208, 0);
    font-size: 20px;
    text-align: center;
}

.zPoints {
    text-align: center;
}

#preZemiraPoints {
    color: rgb(255, 208, 0);
}

.preText {
    color: rgb(255, 208, 0);
}

.totalZPoints {
    font-size: 25px;
    transition: 600ms ease;
    animation: color-change 5s infinite;
}

#MainTitle {
    display: block;
    text-align: center;
    color: rgb(255, 208, 0);
    font-size: 22px;

}

.iconsImg {
    width: 170px;
    height: 170px;
    border-radius: 35px;
}

.cardBacksImg {
    top: 5px;
    width: 120px;
    height: 150px;
    border-radius: 10px;
}

.avatarImg {
    width: 170px;
    height: 170px;
    border-radius: 35px;
    background-color: white;
}

.buyButton {
    cursor: pointer;
    display: inline-block;
    width: 140px;
    height: 40px;
    background-color: rgb(218,165,32);
    font-family: 'kongtextregular';
    font-size: 15px;
    animation: border-color-change 5s infinite;
    border-width: 5px;
    box-shadow: 5px 5px black;
    outline:0;
}


.buyButton:disabled {
    background-color: grey;
    border:solid;
    animation: none;
    cursor: default;
    color: black;
}


.buyButton:hover {
    background-color: #3e8e41
}

.packsToBuy {
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 20%;
    height: 40%;
}

.backCardsToBuy {
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 20%;
}

.avatarsToBuy {
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 20%;
}

.iconsPackName {
    margin-left: 10px;
}

.iconsPacksLine {
    margin-left: 10px;
    text-align: center;
}

.backCardsLine {
    margin-left: 10px;
    text-align: center;
}

.avatarsLine {
    margin-left: 10px;
    text-align: center;
}

.price {
    font-size: 20px;
    border: solid;
    padding: 15px;
    display:table;
    margin:0 auto;
    border-radius: 10px;
    background-color: rgb(255, 208, 0);

}

.priceZPoints {
    color: white;
    font-size: 25px;
}