/* Número: 54960, Nome: Rafael Ribeiro, PL: 21 */
/* Número: 55373, Nome: José Almeida, PL: 21 */
/* Número: 54941, Nome: Miguel Duarte, PL: 21 */

@font-face {
    font-family: 'kongtextregular';
    src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
         url('../fonts/kongtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'kongtextregular'; 
}

.background_video {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_video video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.corpo {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.corpo h1 {
    padding: 20px;
    text-transform: uppercase;
    color: rgb(255, 208, 0);
    font-size: 6em;
    position: relative;
    margin: 0 auto;
}

#nav {
    position: relative;
}

#nav li {
    display: inline-block;
    font-size: 27px;
    padding: 25px;
    transition: 100ms ease-out;
  }

#nav a {
    text-decoration: none;
    color: rgb(255, 208, 0);
}


.footer {
    bottom: 2ex;
    width: 100%;
    position: fixed;
    color: rgb(255, 208, 0);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 600px){
    #nav li:hover {
        transition: 200ms ease;
        transform: scale(1.3);
    }
    
    .mobile{
        display: none;
    }

}

@media screen and (max-width: 599px){
    .mobile{
        display: inline-block;
    }

    #nav {
        text-align: center;
        border-style: solid;
        display: inline-block;
        margin-top: 0px;
    }

    #nav li {
        font-size: 10px;
        padding: 5px;

    }

}

