/* Número: 54960, Nome: Rafael Ribeiro, PL: 21 */
/* Número: 55373, Nome: José Almeida, PL: 21 */
/* Número: 54941, Nome: Miguel Duarte, PL: 21 */

@font-face {
    font-family: 'kongtextregular';
    src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
         url('../fonts/kongtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {background-color: #9900CC ;
      font-family: 'kongtextregular';          
}

#featuresTitle {

    text-align: center;
    color: rgb(255, 208, 0);
}

.subTitle {
    text-decoration: underline;
    text-decoration-style: solid;
    color: rgb(255, 208, 0);
}

#features {
    width: 30%;
    border-style: solid;
    padding: 2ex;
    margin: 5ex auto;
}

header {
    text-align: center;
}

#nav {
    
    border-style: solid;
    display: inline-block;
    margin-top: 2ex;
    padding: 2ex;
    
}

#nav li {
    display: inline;
}

#nav a {
    color:black;
    text-decoration: none;
}

#nav a:hover {
    color:rgb(255, 208, 0);
    text-decoration: none;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
}