/* Número: 54960, Nome: Rafael Ribeiro, PL: 21 */
/* Número: 55373, Nome: José Almeida, PL: 21 */
/* Número: 54941, Nome: Miguel Duarte, PL: 21 */

@font-face {
    font-family: 'kongtextregular';
    src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
         url('../fonts/kongtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'kongtextregular'; 
}

.content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.background_video {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_video video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.corpo {
    position: relative;
    text-align: center;
    margin: 0 auto;

}

.corpo h1 {
    padding: 20px;
    text-transform: uppercase;
    color: white;
    font-size: 6em;
    position: relative;
    margin: 0 auto;
}

#nav {
    position: relative;
    background-color: white;

}

#nav li {
    display: inline-block;
    color:purple;
    font-size: 27px;
    padding: 25px;
  }

.footer {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
