/* Número: 54960, Nome: Rafael Ribeiro, PL: 21 */
/* Número: 55373, Nome: José Almeida, PL: 21 */
/* Número: 54941, Nome: Miguel Duarte, PL: 21 */

@font-face {
    font-family: 'kongtextregular';
    src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
         url('../fonts/kongtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 1000px){

    body {
        font-family: 'kongtextregular';          
    }

/* Exclusivamente para o título da página html HOME, que é diferente */
    .titleHome {
        padding: 20px;
        text-transform: uppercase;
        color: rgb(255, 208, 0);
        font-size: 6em;
        position: relative;
        margin: 0 auto;
    }

/* Para os títulos principais de todas as páginas HTML */
    .mainTitle {
        color: rgb(255, 208, 0);
        font-weight: bold;
        text-align: center;
    }

/* Para a scrollbar das páginas HTML */
    body::-webkit-scrollbar {
        width: 0.5rem;
    }

    body::-webkit-scrollbar-track {
        background: #1e1e24;
    }

    body::-webkit-scrollbar-thumb {
        background: rgb(255, 208, 0);
    }
    
/* Para todos os subtítulos das páginas HTML */
    .subTitle {
        color: rgb(255, 208, 0);
        text-decoration: underline;
        text-decoration-style: solid;
    }

/* Para a barra de navegação da página HOME */
    .homeNavBar {
        position: relative;
    }

    .homeNavBar li {
        position: relative;
        display: inline-block ;
        font-size: 27px;
        padding: 20px;
    }

    .homeNavBar a {
        text-decoration: none;
        color: rgb(255, 208, 0);
    }

    .homeNavBar li:hover {
        transition: 200ms ease;
        transform: scale(1.3);
    }

/* Para a barra de navegação de todas as outras páginas HTML */
    .mainNavBar {
        text-align: center;
        border-style: solid;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2ex;
        padding: 2ex;
    }

    .mainNavBar li {
        display: inline;
    }

    .mainNavBar a {
        color:black;
        text-decoration: none;
        transition: ease 600ms;
    }

    .mainNavBar a:hover {
        transition: ease 600ms;
        color:rgb(255, 208, 0);
        text-decoration: none;
    }
}
