/* Número: 54960, Nome: Rafael Ribeiro, PL: 21 */
/* Número: 55373, Nome: José Almeida, PL: 21 */
/* Número: 54941, Nome: Miguel Duarte, PL: 21 */

@font-face {
    font-family: 'kongtextregular';
    src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
         url('../fonts/kongtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes color-change {
    10% {color: #1abc9c;}    
    20% {color: #d35400;}     
    30% {color: #ff0dc2;} 
    40% {color: #2980b9;}
    60% {color: #f1c40f;}
    70% {color: #2980b9;}
    80% {color: #29b9ad;}
    90% {color: #df75fa;}
    100% {color: pink;}
}

@-webkit-keyframes color-change {
    10% {color: #1abc9c;}    
    20% {color: #d35400;}     
    30% {color: #ff0dc2;} 
    40% {color: #2980b9;}
    60% {color: #f1c40f;}
    70% {color: #2980b9;}
    80% {color: #29b9ad;}
    90% {color: #df75fa;}
    100% {color: pink;}
}


@media screen and (min-width: 1000px){

    .homeBody, .mainBody {
        font-family: 'kongtextregular';          
    }

    .homeBody{
        margin: 0;
        padding: 0;
    }

    .mainBody {
        background-color: #9900CC ; 
    }

/* Exclusivamente para o título da página html HOME, que é diferente */
    .titleHome {
        padding: 20px;
        text-transform: uppercase;
        color: rgb(255, 208, 0);
        font-size: 6em;
        position: relative;
        margin: 0 auto;
    }

/* Para os títulos principais de todas as páginas HTML */
    .mainTitle {
        color: rgb(255, 208, 0);
        font-weight: bold;
        text-align: center;
    }

/* Para as scroll bars das páginas HTML*/
    body::-webkit-scrollbar {
        width: 0.5rem;
    }

    body::-webkit-scrollbar-track {
        background: #1e1e24;
    }

    body::-webkit-scrollbar-thumb {
        background: rgb(255, 208, 0);
    }

/* Para todos os subtítulos das páginas HTML */
    .subTitle {
        color: rgb(255, 208, 0);
        text-decoration: underline;
        text-decoration-style: solid;
    }

/* Para a página HTML Intro */
    #infoZemira a {
        text-decoration: none;
        color: rgb(255, 208, 0);
    }

    #infoZemiraTitulo, #infoJogoTitulo {
        padding: 1ex 1ex 0 0;
        display: inline-block;
        color: rgb(255, 208, 0);
    }

    #infoJogo, #infoZemira {
        text-align: justify;
        margin: auto;
    }

    #corpo {
        border-style: solid;
        margin: 6ex auto;
        text-align: center;
        display: block;
        width: 70%;
        padding: 0 3ex 2ex 3ex;
    }
}


@media screen and (max-width: 599px){

    .homeBody, .mainBody {
        font-family: 'kongtextregular';          
    }

    .homeBody{
        margin: 0;
        padding: 0;
    }

    .mainBody {
        background-color: #9900CC ; 
    }

    .titleHome {
        color: rgb(255, 208, 0);
        font-weight: bold;
        text-align: center;
        font-size: 50px;
        margin-top: 30%;
    }

    .mainTitle {
        color: rgb(255, 208, 0);
        font-weight: bold;
        text-align: center;
    }

/* Para todos os subtítulos das páginas HTML */
    .subTitle {
        color: rgb(255, 208, 0);
        text-decoration: underline;
        text-decoration-style: solid;
    }

/* Para a página HTML Intro */
    #infoZemira a {
        text-decoration: none;
        color: rgb(255, 208, 0);
    }

    #infoZemiraTitulo, #infoJogoTitulo {
        padding: 1ex 1ex 0 0;
        display: inline-block;
        color: rgb(255, 208, 0);
    }

    #infoJogo, #infoZemira {
        text-align: justify;
        margin: auto;
    }

    #corpo {
        border-style: solid;
        margin: 6ex auto;
        text-align: center;
        display: block;
        width: 85%;
        padding: 0 3ex 2ex 3ex;
        
    }


/* Para as scroll bars das páginas HTML*/
    body::-webkit-scrollbar {
        width: 0.5rem;
    }

    body::-webkit-scrollbar-track {
        background: #1e1e24;
    }

    body::-webkit-scrollbar-thumb {
        background: rgb(255, 208, 0);
    }
}


@media screen and (min-width: 601px) and (max-width: 999px){

    .homeBody, .mainBody {
        font-family: 'kongtextregular';          
    }

    .homeBody{
        margin: 0;
        padding: 0;
    }

    .mainBody {
        background-color: #9900CC ; 
    }

/* Exclusivamente para o título da página html HOME, que é diferente */
    .titleHome {
        padding: 10px;
        text-transform: uppercase;
        color: rgb(255, 208, 0);
        font-size: 4em;
        position: relative;
        margin: 3em auto 1em;
    }

    .mainTitle {
        color: rgb(255, 208, 0);
        font-weight: bold;
        text-align: center;
    }

/* Para todos os subtítulos das páginas HTML */
    .subTitle {
        color: rgb(255, 208, 0);
        text-decoration: underline;
        text-decoration-style: solid;
    }


/* Para a página HTML Intro */
    #infoZemira a {
        text-decoration: none;
        color: rgb(255, 208, 0);
    }

    #infoZemiraTitulo, #infoJogoTitulo {
        padding: 1ex 1ex 0 0;
        display: inline-block;
        color: rgb(255, 208, 0);
    }

    #infoJogo, #infoZemira {
        text-align: justify;
        margin: auto;
    }

    #corpo {
        border-style: solid;
        margin: 6ex auto;
        text-align: center;
        display: block;
        width: 80%;
        padding: 0 3ex 2ex 3ex;
    }

/* Para as scroll bars das páginas HTML*/
    body::-webkit-scrollbar {
        width: 0.5rem;
    }

    body::-webkit-scrollbar-track {
        background: #1e1e24;
    }

    body::-webkit-scrollbar-thumb {
        background: rgb(255, 208, 0);
    }

    .Imagens {
        text-align: center;
    }

}