@font-face {
    font-family: 'kongtextregular';
    src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
         url('../fonts/kongtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




.p{
    background-color: #9900CC ;
      font-family: 'kongtextregular';   
      text-align: center;
}




#nav {
    text-align: center;
    border-style: solid;
    display: inline-block;
    font-family: 'kongtextregular';  
    margin-top: 2ex;
    padding: 2ex;
    
}

#nav li {
    display: inline;
}

#nav a {
    color:black;
    text-decoration: none;
}

#nav a:hover {
    color:yellow;
    text-decoration: none;
} 
    
h1{
    font-weight: bold;
    font-family: 'kongtextregular';  
    text-align: center;
    color:rgb(255, 208, 0);
    }
    
footer {
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        position: fixed;     
        text-align: center;    
        bottom: 0px; 
        width: 100%;
        text-decoration: none;
    }
