@font-face {
    font-family: 'kongtextregular';
    src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
         url('../fonts/kongtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #9900CC ;
    font-family:'kongtextregular';   
    text-align: center;  
   
         
}


#nav {
    background-color: #9900CC ;
    text-align: center;
    border-style: solid;
    display: inline-block; 
    margin-top: 2ex;
    padding: 2ex;
    
}

#nav li {
    display: inline;
}

#nav a {
    color:black;
    text-decoration: none;
}

#nav a:hover {
    color:yellow;
    text-decoration: none;
}



h1{
font-weight: bold;
text-align: center;
color:rgb(255, 208, 0);
}



.footer {
    bottom: 2ex;
    width: 100%;
    position: fixed;
   
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#AboutImages{
    background-color: #9900CC ;
    font-family: 'kongtextregular';   
    text-align: center;  
    width: 60%;
    border-style: solid;
    padding: 2ex;
    margin: auto;

}
article{

    background-color: #9900CC ;
    font-family:'kongtextregular';   
    text-align: center;  
    width: 60%;
    border-style: solid;
    padding: 2ex;
    margin: auto;
         
}