/* Número: 54960, Nome: Rafael Ribeiro, PL: 21 */
/* Número: 55373, Nome: José Almeida, PL: 21 */
/* Número: 54941, Nome: Miguel Duarte, PL: 21 */

@font-face {
    font-family: 'kongtextregular';
    src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
         url('../fonts/kongtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@media screen and (min-width: 1000px){
    body {
        margin: 0;
        padding: 0;
        font-family: 'kongtextregular'; 
    }

    .background_video {
        overflow: hidden;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .background_video video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .corpo {
        position: relative;
        text-align: center;
        margin: 0 auto;
    }

    .corpo h1 {
        padding: 20px;
        text-transform: uppercase;
        color: rgb(255, 208, 0);
        font-size: 6em;
        position: relative;
        margin: 0 auto;
    }

    #nav {
        position: relative;
    }

    #nav li {
        position: relative;
        display: inline-block ;
        font-size: 27px;
        padding: 20px;
    }

    #nav a {
        text-decoration: none;
        color: rgb(255, 208, 0);
    }


    .footer {
        bottom: 2ex;
        width: 100%;
        position: fixed;
        color: rgb(255, 208, 0);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    body::-webkit-scrollbar {
        width: 0.5rem;
    }

    body::-webkit-scrollbar-track {
        background: #1e1e24;
    }

    #nav li:hover {
        transition: 200ms ease;
        transform: scale(1.3);
    }

    .mobile {
        display: none;
    }

    #playButton {
        display: inline-block;
        cursor: pointer;
        box-shadow: inset 0px 0px 40px 40px #9c01cfa4;
        color: black;
        border: solid rgb(255, 208, 0);
        width: 200px;
        height: 50px;
        text-align: center;
        font-size: 300%;
        padding: 20px;
    }
    
    #playButton:hover {
        font-size: 0;
    }
    
    #playButton:hover:after{
        content: attr(data-hover);
        transition: ease 0.5s;
        font-size: 18px;
        text-align: center;
        color: red;
    }
}




@media screen and (max-width: 599px){
    body {
        margin: 0;
        padding: 0;
        font-family: 'kongtextregular'; 
    }

    .background_video {
        overflow: hidden;
        width: 100%;
        height: 100vh;
        display: flex;
    }

    .background_video video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .corpo {
        position: relative;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }

    .corpo h1 {
        padding: 10px;
        text-transform: uppercase;
        color: rgb(255, 208, 0);
        font-size: 4em;
        position: relative;
        margin: 1.5em auto 1em;
    }

    #playButton {
        position: relative;
        display: inline-block;
        cursor: pointer;
        box-shadow: inset 0px 0px 40px 40px #9c01cfa4;
        color: black;
        border: solid rgb(255, 208, 0);
        width: 200px;
        height: 50px;
        text-align: center;
        font-size: 300%;
        padding: 20px;
    }   
    
    #playButton:hover {
        font-size: 0;
    }
    
    #playButton:hover:after{
        content: attr(data-hover);
        transition: ease 0.5s;
        font-size: 18px;
        text-align: center;
        color: red;
    }

    #nav {
        position: relative;
        margin-right: 3em;
        margin-top: 1em;
    }

    #nav li {
        position: relative;
        display: inline-block;
        font-size: 0.8em;
        padding: 5px;
    }

    #nav a {
        text-decoration: none;
        background: black;
        padding: 4px;
        color: rgb(255, 208, 0);
    }


    .footer {
        bottom: 0.01ex;
        font-size: 12px;
        margin: 0 auto;
        background: black;
        width: 100%;
        position: fixed;
        color: rgb(255, 208, 0);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

}


@media screen and (min-width: 501px) and (max-width: 999px){
    body {
        margin: 0;
        padding: 0;
        font-family: 'kongtextregular'; 
    }

    .background_video {
        overflow: hidden;
        width: 100%;
        height: 100vh;
        display: flex;
    }

    .background_video video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .corpo {
        position: relative;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }

    .corpo h1 {
        padding: 10px;
        text-transform: uppercase;
        color: rgb(255, 208, 0);
        font-size: 4em;
        position: relative;
        margin: 3em auto 1em;
    }

    #playButton {
        position: relative;
        display: inline-block;
        cursor: pointer;
        box-shadow: inset 0px 0px 40px 40px #9c01cfa4;
        color: black;
        border: solid rgb(255, 208, 0);
        width: 200px;
        height: 50px;
        text-align: center;
        font-size: 300%;
        padding: 20px;
    }   
    
    #playButton:hover {
        font-size: 0;
    }
    
    #playButton:hover:after{
        content: attr(data-hover);
        transition: ease 0.5s;
        font-size: 18px;
        text-align: center;
        color: red;
    }

    #nav {
        position: relative;
        margin-right: 3em;
        margin-top: 1em;
    }

    #nav li {
        position: relative;
        display: inline-block;
        font-size: 1.1em;
        padding: 5px;
    }

    #nav a {
        text-decoration: none;
        background: black;
        padding: 4px;
        color: rgb(255, 208, 0);
    }


    .footer {
        bottom: 0.01ex;
        font-size: 12px;
        margin: 0 auto;
        background: black;
        width: 100%;
        position: fixed;
        color: rgb(255, 208, 0);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .mobile {
        display: none;
    }

}

