/* Número: 54960, Nome: Rafael Ribeiro, PL: 21 */
/* Número: 55373, Nome: José Almeida, PL: 21 */
/* Número: 54941, Nome: Miguel Duarte, PL: 21 */



@font-face {
    font-family: 'kongtextregular';
    src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
         url('../fonts/kongtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #9900CC ;
    font-family:'kongtextregular';   
    text-align: center;  
   
         
}


#nav {
    background-color: #9900CC ;
    text-align: center;
    border-style: solid;
    display: inline-block; 
    margin-top: 2ex;
    padding: 2ex;
    
}

#nav li {
    display: inline;
}

#nav a {
    transition: ease 600ms;
    color:black;
    text-decoration: none;
}

#nav a:hover {
    transition: ease 600ms;
    color:yellow;
    text-decoration: none;
}



h1{
font-weight: bold;
text-align: center;
color:rgb(255, 208, 0);
}



.footer {
    bottom: 0px;
    width: 100%;
    position: fixed;
   
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-style: transparent; 
    background-color: #9900CC;
}

article{

    background-color: #9900CC ;
    font-family:'kongtextregular';   
    text-align: justify;  
    width: 60%;
    border-style: solid;
    padding: 2ex;
    margin: auto;
         
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: rgb(255, 208, 0);
}
@media screen and (max-width: 599px){


    @font-face {
        font-family: 'kongtextregular';
        src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
             url('../fonts/kongtext-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    
    body {
        background-color: #9900CC ;
        font-family:'kongtextregular';   
        text-align: center;  
       
             
    }
    
    
    #nav {
        background-color: #9900CC ;
        text-align: center;
        border-style: solid;
        display: inline-block; 
        margin-top: 2ex;
        padding: 2ex;
        
    }
    
    #nav li {
        display: inline;
    }
    
    #nav a {
        transition: ease 600ms;
        color:black;
        text-decoration: none;
    }
    
    #nav a:hover {
        transition: ease 600ms;
        color:yellow;
        text-decoration: none;
    }
    
    
    
    h1{
    font-weight: bold;
    text-align: center;
    color:rgb(255, 208, 0);
    }
    
    
    
    .footer {
        bottom: 0px;
        width: 100%;
        position: fixed;
       
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        border-style: transparent; 
        background-color: #9900CC;
    }
    
    article{
    
        background-color: #9900CC ;
        font-family:'kongtextregular';   
        text-align: center;  
        width: 90%;
        border-style: solid;
        padding: 2ex;
        margin: auto;
             
    }
    
    body::-webkit-scrollbar {
        width: 0.5rem;
    }
    
    body::-webkit-scrollbar-track {
        background: #1e1e24;
    }
    
    body::-webkit-scrollbar-thumb {
        background: rgb(255, 208, 0);
    }

}


@media screen and (min-width: 501px) and (max-width: 999px){

    @font-face {
        font-family: 'kongtextregular';
        src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
             url('../fonts/kongtext-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    
    body {
        background-color: #9900CC ;
        font-family:'kongtextregular';   
        text-align: center;  
       
             
    }
    
    
    #nav {
        background-color: #9900CC ;
        text-align: center;
        border-style: solid;
        display: inline-block; 
        margin-top: 2ex;
        padding: 2ex;
        
    }
    
    #nav li {
        display: inline;
    }
    
    #nav a {
        transition: ease 600ms;
        color:black;
        text-decoration: none;
    }
    
    #nav a:hover {
        transition: ease 600ms;
        color:yellow;
        text-decoration: none;
    }
    
    
    
    h1{
    font-weight: bold;
    text-align: center;
    color:rgb(255, 208, 0);
    }
    
    
    
    .footer {
        bottom: 0px;
        width: 100%;
        position: fixed;
       
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        border-style: transparent; 
        background-color: #9900CC;
    }
    
    article{
    
        background-color: #9900CC ;
        font-family:'kongtextregular';   
        text-align: center;  
        width: 90%;
        border-style: solid;
        padding: 2ex;
        margin: auto;
             
    }
    
    body::-webkit-scrollbar {
        width: 0.5rem;
    }
    
    body::-webkit-scrollbar-track {
        background: #1e1e24;
    }
    
    body::-webkit-scrollbar-thumb {
        background: rgb(255, 208, 0);
    }



}