
@font-face {
    font-family: 'kongtextregular';
    src: url('kongtext-webfont.woff2') format('woff2'),
         url('kongtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {background-color: #9900CC ;
      font-family: 'kongtextregular';          
}
