/* Número: 54960, Nome: Rafael Ribeiro, PL: 21 */
/* Número: 55373, Nome: José Almeida, PL: 21 */
/* Número: 54941, Nome: Miguel Duarte, PL: 21 */

@font-face {
    font-family: 'kongtextregular';
    src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
         url('../fonts/kongtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {background-color: #9900CC ;
      font-family: 'kongtextregular';          
}

#introductionTitle {
    color: rgb(255, 208, 0);
}

header {
    text-align: center;
}

#infoZemira a {
    text-decoration: none;
    color: rgb(255, 208, 0);
}

#infoZemiraTitulo, #infoJogoTitulo {
    padding: 1ex 1ex 0 0;
    display: inline-block;
    color: rgb(255, 208, 0);
}

#infoJogo, #infoZemira {
    text-align: justify;
    margin: auto;
}

#corpo {
    border-style: solid;
    margin: 6ex auto;
    text-align: center;
    display: block;
    width: 70%;
    padding: 0 3ex 2ex 3ex;
    
}

#nav {
    text-align: center;
    border-style: solid;
    display: inline-block;
    margin-top: 2ex;
    padding: 2ex;
}


#nav li {
    display: inline;
}

#nav a {
    color:black;
    text-decoration: none;
}

#nav a:hover {
    color:rgb(255, 208, 0);
    text-decoration: none;
}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;     
    text-align: center;    
    bottom: 0px; 
    width: 100%;
}