/* Número: 54960, Nome: Rafael Ribeiro, PL: 21 */
/* Número: 55373, Nome: José Almeida, PL: 21 */
/* Número: 54941, Nome: Miguel Duarte, PL: 21 */



@media screen and (min-width: 1000px){

@font-face {
    font-family: 'kongtextregular';
    src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
         url('../fonts/kongtext-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #9900CC ;
    font-family:'kongtextregular';   
    text-align: center;
   
         
}


#nav {
    background-color: #9900CC ;
    text-align: center;
    border-style: solid;
    display: inline-block; 
    margin-top: 2ex;
    padding: 2ex;
    
}

#nav li {
    display: inline;
}

#nav a {
    transition: ease 600ms;
    color:black;
    text-decoration: none;
}

#nav a:hover {
    transition: ease 600ms;
    color:yellow;
    text-decoration: none;
}



h1{
font-weight: bold;
text-align: center;
color:rgb(255, 208, 0);
}



.footer {
    bottom: 0px;
    width: 100%;
    position: fixed;   
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-style: transparent; 
    background-color: #9900CC;
}

#AboutImagesMiguel{
    background-color: #9900CC ;    
    font-family: 'kongtextregular';  
    margin-left: 0em;
    text-align: center;
    
    width: 20%;
    display: inline-block;
}
#AboutImagesRafa{
    background-color: #9900CC ;
    font-family: 'kongtextregular';
    margin-left: 30px;
    text-align: center;
    display: inline-block;    
    width: 20%;
    
}


#AboutImagesZe{
    background-color: #9900CC ;
    font-family: 'kongtextregular';
    margin-right: 0px;
    position: relative;
    width: 20%;
    text-align: center;
    display: inline-block;  
    

}


.AboutImages{

    margin-right: 0px;
}
img {
    width: 50%;
    border: dashed 5px purple;
    }




#article{

    background-color: #9900CC ;
    font-family:'kongtextregular';   
      
    width: 60%;
    border-style: solid;
    padding: 2ex;
    margin: auto;
         
}


body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: rgb(255, 208, 0);
}

.content{

    text-align: justify;
}
}


@media screen and (min-width: 501px) and (max-width: 999px){

    @font-face {
        font-family: 'kongtextregular';
        src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
             url('../fonts/kongtext-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    
    body {
        background-color: #9900CC ;
        font-family:'kongtextregular';   
        text-align: center;
       
             
    }
    
    
    #nav {
        background-color: #9900CC ;
        text-align: center;
        border-style: solid;
        display: inline-block; 
        margin-top: 2ex;
        padding: 2ex;
        
    }
    
    #nav li {
        display: inline;
    }
    
    #nav a {
        transition: ease 600ms;
        color:black;
        text-decoration: none;
    }
    
    #nav a:hover {
        transition: ease 600ms;
        color:yellow;
        text-decoration: none;
    }
    
    
    
    h1{
    font-weight: bold;
    text-align: center;
    color:rgb(255, 208, 0);
    }
    
    
    
    .footer {
        bottom: 0px;
        width: 100%;
        position: fixed;   
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        border-style: transparent; 
        background-color: #9900CC;
    }
    
    #AboutImagesMiguel{
        background-color: #9900CC ;    
        font-family: 'kongtextregular';  
        margin: auto;
        text-align: center;
        
        width: 30%;
       
    }
    #AboutImagesRafa{
        background-color: #9900CC ;
        font-family: 'kongtextregular';
        margin: auto;
        text-align: center;
         
        width: 30%;
        
    }
    
    
    #AboutImagesZe{
        background-color: #9900CC ;
        font-family: 'kongtextregular';
        margin: auto;
        
        width: 30%;
        text-align: center;
        
        
    
    }
    
    
    
    img {
        width: 50%;
        border: dashed 5px purple;
        }
    
    
    
    
    #article{
    
        background-color: #9900CC ;
        font-family:'kongtextregular';   
        padding: 2ex;
        width: 90%;
        border-style: solid;
        margin: auto;
       
        
             
    }
    
    
   body::-webkit-scrollbar {
        width: 0.5rem;
    }
    
    body::-webkit-scrollbar-track {
        background: #1e1e24;
    }
    
    body::-webkit-scrollbar-thumb {
        background: rgb(255, 208, 0);
    }
    
    .content{
    
        text-align: center;
    }


}

@media screen and (min-width: 400px) and (max-width: 999px){

    @font-face {
        font-family: 'kongtextregular';
        src: url('../fonts/kongtext-webfont.woff2') format('woff2'),
             url('../fonts/kongtext-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    
    body {
        background-color: #9900CC ;
        font-family:'kongtextregular';   
        text-align: center;
       
             
    }
    
    
    #nav {
        background-color: #9900CC ;
        text-align: center;
        border-style: solid;
        display: inline-block; 
        margin-top: 2ex;
        padding: 2ex;
        
    }
    
    #nav li {
        display: inline;
    }
    
    #nav a {
        transition: ease 600ms;
        color:black;
        text-decoration: none;
    }
    
    #nav a:hover {
        transition: ease 600ms;
        color:yellow;
        text-decoration: none;
    }
    
    
    
    h1{
    font-weight: bold;
    text-align: center;
    color:rgb(255, 208, 0);
    }
    
    
    
    .footer {
        bottom: 0px;
        width: 100%;
        position: relative;   
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        border-style: transparent; 
        background-color: #9900CC;
    }
    
    #AboutImagesMiguel{
        background-color: #9900CC ;    
        font-family: 'kongtextregular';  
        margin: auto;
        text-align: center;
        
        width: 30%;
       
    }
    #AboutImagesRafa{
        background-color: #9900CC ;
        font-family: 'kongtextregular';
        margin: auto;
        text-align: center;
         
        width: 30%;
        
    }
    
    
    #AboutImagesZe{
        background-color: #9900CC ;
        font-family: 'kongtextregular';
        margin: auto;
        
        width: 30%;
        text-align: center;
        
        
    
    }
    
    
    
    img {
        width: 50%;
        border: dashed 5px purple;
        }
    
    
    
    
    #article{
    
        background-color: #9900CC ;
        font-family:'kongtextregular';   
        padding: 2ex;
        width: 90%;
        border-style: solid;
        margin: auto;
       
        
             
    }
    
    
   body::-webkit-scrollbar {
        width: 0.5rem;
    }
    
    body::-webkit-scrollbar-track {
        background: #1e1e24;
    }
    
    body::-webkit-scrollbar-thumb {
        background: rgb(255, 208, 0);
    }
    
    .content{
    
        text-align: center;
    }



}