/* Número: 54960, Nome: Rafael Ribeiro, PL: 21 */
/* Número: 55373, Nome: José Almeida, PL: 21 */
/* Número: 54941, Nome: Miguel Duarte, PL: 21 */

@media screen and (min-width: 1000px){

/* Para não ser mostrado os elementos da versão mobile, neste tamanho de window */
    .mobile {
        display: none;
    }

    header {
        text-align: center;
    }

    .background_video {
        overflow: hidden;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .background_video video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .corpo {
        position: relative;
        text-align: center;
        margin: 0 auto;
    }

/* Para a barra de navegação da página HOME */
    #homeNavBar {
        margin-top: -400px;
        position: absolute;
    }

    .homeNavBar {
        position: relative;
        background-color: rgb(255, 208, 0);
        border-radius: 10px;
        border: solid black;
        padding: 5px;
    }

    .homeNavBar li {
        position: relative;
        display: inline-block ;
        font-size: 27px;
        padding: 20px;
    }

    .homeNavBar a {
        text-decoration: none;
        color: black;
    }

    .homeNavBar li:hover {
        transition: 200ms ease;
        transform: scale(1.3);
    }

/* Para a barra de navegação de todas as outras páginas HTML */
    .mainNavBar {
        text-align: center;
        border-style: solid;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2ex;
        padding: 2ex;
    }

    .mainNavBar li {
        display: inline;
    }

    .mainNavBar a {
        color:black;
        text-decoration: none;
        transition: ease 600ms;
    }

    .mainNavBar a:hover {
        transition: ease 600ms;
        color:rgb(255, 208, 0);
        text-decoration: none;
    }

    #playButton {
        display: inline-block;
        cursor: pointer;
        box-shadow: inset 0px 0px 40px 40px #9c01cfa4;
        color: black;
        border: solid rgb(255, 208, 0);
        width: 200px;
        height: 50px;
        text-align: center;
        font-size: 300%;
        padding: 20px;
        text-decoration: none;
    }
    
    #playButton:hover {
        transition: 600ms ease;
        animation: color-change 5s infinite;
    }

    #features {
        width: 50%;
        border-style: solid;
        padding: 2ex;
        margin: 5ex auto;
    }

    .lista {
        list-style-type: none;
        text-align: justify;
    }

/* Para a página html Loja */
    article {
        background-color: #9900CC ;
        font-family:'kongtextregular';   
        text-align: justify;  
        width: 60%;
        border-style: solid;
        padding: 2ex;
        margin: auto;          
    }

/* Para a página html Regras */
    .asRegras {
        width: 50%;
        border-style: solid;
        padding: 2ex;
        margin: auto;
    }

/* Para a página html Bio */
    #article {
        background-color: #9900CC ;
        font-family:'kongtextregular';   
        text-align: justify;  
        width: 60%;
        border-style: solid;
        padding: 2ex;
        margin: auto;          
    }

    .Imagens {
        text-align: center;
    }

    #AboutImagesMiguel {
        background-color: #9900CC ;    
        font-family: 'kongtextregular';  
        margin-left: 0px;
        text-align: center;
        position: relative;
        width: 20%;
        display: inline-block;
    }
    
    #AboutImagesRafa {
        background-color: #9900CC ;
        font-family: 'kongtextregular';
        margin-left: auto;
        text-align: center;
        display: inline-block;    
        width: 20%;
        position: relative;
    }
    
    #AboutImagesZe {
        background-color: #9900CC ;
        font-family: 'kongtextregular';
        margin-right: 0px;
        position: relative;
        width: 20%;
        text-align: center;
        display: inline-block;  
    }
    
    .AboutImages {
        margin-right: 0px;
    }
    .specImage{
        border: dashed 5px purple;

    }
    
    img {
        width: 50%;
        
    }
    
    .content {
        text-align: justify;
    }

/* Para o footer da página html HOME */
    .footerHome {
        bottom: 2ex;
        width: 100%;
        position: fixed;
        color: rgb(255, 208, 0);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

/* Para o footer de todas as outras páginas HTML */
    .footerMain {
        font-family: Arial, Helvetica, sans-serif;
        position: relative;     
        text-align: center;    
        bottom: 0px; 
        width: 100%;
        border-style: transparent; 
        background-color: #9900CC;
    }

/* Para o botão de mute/unmute de música na home */

    #soundButtonHome {
        position: relative;
        margin-left: 3vw;
        width: 70px;
        height: 65px;
        position: absolute;
        margin-top: 0.5%;
        border-radius: 12px;
        border: solid transparent;
        overflow:  hidden; 
        cursor: pointer;
        background-color: white;

    }

    #soundButtonHome:focus {
        outline:none;
    }

}

@media screen and (max-width: 599px){ 

    header {
        text-align: center;
    }
    
    .background_video {
        overflow: hidden;
        width: 100%;
        height: 100vh;
        display: flex;
    }

    .background_video video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .corpo {
        position: relative;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }

/* Para a barra de navegação de todas as outras páginas HTML */
    .mainNavBar {
        
        border-style: solid;
        display: inline-block;
        margin-top: 2ex;
        padding: 2ex;
        
    }

    .mainNavBar li {
        display: inline;
    }

    .mainNavBar a {
        color:black;
        text-decoration: none;
        transition: ease 600ms;
    }

    .mainNavBar a:hover {
        transition: ease 600ms;
        color:rgb(255, 208, 0);
        text-decoration: none;
    }

/* Para a barra de navegação da página HOME */
    .homeNavBar {
        position: relative;
        margin-right: 3em;
        margin-top: 1em;
    }

    .homeNavBar li {
        position: relative;
        display: inline-block;
        font-size: 0.8em;
        padding: 5px;
    }

    .homeNavBar a {
        text-decoration: none;
        background: black;
        padding: 4px;
        color: rgb(255, 208, 0);
    }

    #playButton {
        position: relative;
        display: inline-block;
        cursor: pointer;
        box-shadow: inset 0px 0px 40px 40px #9c01cfa4;
        color: black;
        border: solid rgb(255, 208, 0);
        width: 200px;
        height: 50px;
        text-align: center;
        font-size: 300%;
        padding: 20px;
        text-decoration: none;
    }   
    
    #playButton:hover {
        transition: 600ms ease;
        animation: color-change 5s infinite;
    }

    #features {
        width: 90%;
        border-style: solid;
        padding: 2ex;
        margin: 2ex auto;
    }
    
    .lista {
        list-style-type: none;
        text-align: justify;
    }

/* Para a página html Loja */
    article {
        background-color: #9900CC ;
        font-family:'kongtextregular';   
        text-align: justify; 
        width: 90%;
        border-style: solid;
        padding: 2ex;
        margin: auto;          
    }

/* Para a página html Regras */
    .asRegras {
        width: 90%;
        border-style: solid;
        padding: 2ex;
        margin: auto;
    }

/* Para a página html Bio */
    #article {
        background-color: #9900CC ;
        font-family:'kongtextregular';   
        text-align: justify; 
        width: 90%;
        border-style: solid;
        padding: 2ex;
        margin: auto;          
    }

    #AboutImagesMiguel {
        background-color: #9900CC ;    
        font-family: 'kongtextregular';  
        margin: auto;
        text-align: center;
        width: 30%;
    }

    #AboutImagesRafa {
        background-color: #9900CC ;
        font-family: 'kongtextregular';
        margin: auto;
        text-align: center;
        width: 30%;
    }
    
    #AboutImagesZe {
        background-color: #9900CC ;
        font-family: 'kongtextregular';
        margin: auto;
        width: 30%;
        text-align: center;
    }
    
    img {
        width: 80%;
        /* border: dashed 5px purple; Não se pode fazer isto para todas as imagens, pois esta página de CSS é utilizada por quase todo o site. */
    }
    
    .content {
        text-align: justify;
    }

/* Para o footer da página html HOME */
    .footerHome {
        bottom: 0.01ex;
        font-size: 12px;
        margin: 0 auto;
        background: black;
        width: 100%;
        position: fixed;
        color: rgb(255, 208, 0);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

/* Para o footer de todas as outras páginas HTML */
    .footerMain {
        font-family: Arial, Helvetica, sans-serif;
        position: relative;     
        text-align: center;    
        bottom: 0px; 
        width: 100%;
        border-style: transparent; 
    }

/* Para o botão de mute/unmute de música na home */

#soundButtonHome {
    position: relative;
    margin-left: 3vw;
    width: 70px;
    height: 65px;
    position: absolute;
    margin-top: 0.5%;
    border-radius: 12px;
    border: solid transparent;
    overflow:  hidden; 
    cursor: pointer;
    background-color: white;

}

#soundButtonHome:focus {
    outline:none;
}

}


@media screen and (min-width: 601px) and (max-width: 999px){

    .mobile {
        display: none;
    }

    header {
        text-align: center;
    }

    .background_video {
        width: 100%;
        height: 100vh;
        display: flex;
        overflow: hidden;
    }

    .background_video video {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .corpo {
        position: relative;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }

/* Para a barra de navegação de todas as outras páginas HTML */
    .mainNavBar {
        
        border-style: solid;
        display: inline-block;
        margin-top: 2ex;
        padding: 2ex;
        
    }

    .mainNavBar li {
        display: inline;
    }

    .mainNavBar a {
        color:black;
        text-decoration: none;
        transition: ease 600ms;
    }

    .mainNavBar a:hover {
        transition: ease 600ms;
        color:rgb(255, 208, 0);
        text-decoration: none;
    }

/* Para a barra de navegação da página HOME */
    .homeNavBar {
        position: relative;
        margin-right: 3em;
        margin-top: 1em;
    }

    .homeNavBar li {
        position: relative;
        display: inline-block;
        font-size: 1.1em;
        padding: 5px;
    }

    .homeNavBar a {
        text-decoration: none;
        background: black;
        padding: 4px;
        color: rgb(255, 208, 0);
    }

    #playButton {
        position: relative;
        display: inline-block;
        cursor: pointer;
        box-shadow: inset 0px 0px 40px 40px #9c01cfa4;
        color: black;
        border: solid rgb(255, 208, 0);
        width: 200px;
        height: 50px;
        text-align: center;
        font-size: 300%;
        padding: 20px;
        text-decoration: none;
    }   
    
    #playButton:hover {
        transition: 600ms ease;
        animation: color-change 5s infinite;
    }

    #features {
        width: 60%;
        border-style: solid;
        padding: 2ex;
        margin: 5ex auto;
    }

    .lista {
        list-style-type: none;
        text-align: justify;
    }

/* Para a página html Loja */
    article {
        background-color: #9900CC ;
        font-family:'kongtextregular';   
        text-align: justify;  
        width: 90%;
        border-style: solid;
        padding: 2ex;
        margin: auto;          
    }

/* Para a página html Regras */
    .asRegras {
        width: 90%;
        border-style: solid;
        padding: 2ex;
        margin: auto;
    }

/* Para a página html Bio */
    #article {
        background-color: #9900CC ;
        font-family:'kongtextregular';   
        text-align: justify;  
        width: 90%;
        border-style: solid;
        padding: 2ex;
        margin: auto;          
    }

    .Imagens {
        text-align: center;
    }

    #AboutImagesMiguel {
        background-color: #9900CC ;    
        font-family: 'kongtextregular';  
        margin: auto;
        text-align: center;
        width: 30%;
    }

    #AboutImagesRafa {
        background-color: #9900CC ;
        font-family: 'kongtextregular';
        margin: auto;
        text-align: center;
        width: 30%;
    }
    
    #AboutImagesZe {
        background-color: #9900CC ;
        font-family: 'kongtextregular';
        margin: auto;
        width: 30%;
        text-align: center;
    }
    
    img {
        width: 50%;
        /* border: dashed 5px purple; Não se pode fazer isto para todas as imagens, pois esta página de CSS é utilizada por quase todo o site. */
        }
    
    .content {
        text-align: justify;    
    }

/* Para o footer da página html HOME */
    .footerHome {
        bottom: 0.01ex;
        font-size: 12px;
        margin: 0 auto;
        background: black;
        width: 100%;
        position: fixed;
        color: rgb(255, 208, 0);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

/* Para o footer de todas as outras páginas HTML */
    .footerMain {
        font-family: Arial, Helvetica, sans-serif;
        position: relative;     
        text-align: center;    
        bottom: 0px; 
        width: 100%;
        border-style: transparent; 
        background-color: #9900CC;
    }

/* Para o botão de mute/unmute de música na home */

#soundButtonHome {
    position: relative;
    margin-left: 3vw;
    width: 70px;
    height: 65px;
    position: absolute;
    margin-top: 0.5%;
    border-radius: 12px;
    border: solid transparent;
    overflow:  hidden; 
    cursor: pointer;
    background-color: white;

}

#soundButtonHome:focus {
    outline:none;
}
}

