body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.background_video {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_video video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.corpo {
    position: relative;
    text-align: center;
    margin: 0 auto;

}

.corpo h1 {
    padding: 20px;
    text-transform: uppercase;
    color: white;
    font-size: 6em;
    position: relative;
    margin: 0 auto;
}

nav {
    position: relative;
    text-align: center;
    background-color: white;
}

a{
    color:purple;
    display: inline-block;
    font-size: 30px;
    padding: 20px;
}

footer {
    text-align: center;
    color: black;
}
