.mainDiv{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
   

}
.childDiv{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 40px;
    position: relative;

}
input{
    width: 50%;
    display: block;
    margin: 10px auto;

}
.closeButton{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    cursor: pointer;

}
